html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    color: #515151;
    background: #f9f9f9;
    padding-top: 106px;

    font-family: Shabnam,sans-serif;
    text-align: right;
    direction: rtl;

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    direction: rtl;

}
a {
    color: #4a5f73;
    text-decoration: none;
}
.main-container{
    padding-left: 8px;
    padding-right: 8px;
}
.breadcrumb-container{
    height: 42px;
}
.my-breadcrumb{
    list-style: none;
    margin: 0 0 -10px;
    padding: 0;
    color: #929292;
    max-width: 100%;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    font-size: 11px;
    font-size: .786rem;
    line-height: 2;
}
.my-breadcrumb li{
    display: flex;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 1rem 0;
}
.my-breadcrumb li a{
    color: #929292;
}
/* ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */
.breadcrumb-item ::before{
    /* content: ""; */
    letter-spacing: .4px;
    padding: 0 10px 0 5px;
    position: relative;
    /* bottom: 4px; */
}
/* .breadcrumb-item{
    display: flex;
    align-items:center;
} */
.my-breadcrumb li i{
    color: #929292;
    /* font-size: 1.5rem; */
}
.product-component{
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
    padding: 15px 20px;
    margin: 10px 0;
    position: relative;
}
.product-title{
    color: #2a2a2a;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}
.product-type{
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.75;
    color: #858585;
    margin-top: 5px;
    text-align: right;
}
.product-options{

    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.product-actions{
    list-style: none;
    padding: 0;
}
.product-options ,.product-actions{
    display: flex;
}
.btn-option{
    width: 23px;
    height: 23px;
    color: #9b9b9b;
    height: 36px;
    width: 36px;
    height: 24px;
    width: 24px;

    display: inline-block;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0;
    text-align: center;
    white-space: nowrap;

    /* font-size: 20px;
    font-size: 24px; */
    font-size: 1.3rem;
    line-height: 24px;
}
.product-actions li{
    margin-left: 1rem;
}
.product-engagement-num{
    margin-left: 2px;
    color: #a2a2a2;
    font-size: 12px;
    font-size: .857rem;
    line-height: 21px;
    font-weight: 400;
}
.product-rating{

    display: flex;

    align-items: center;
    flex-direction: row-reverse;
    color: #424750;
    font-weight: 700;
    position: relative;
    padding-left: 18px;
    font-size: 12px;
    font-size: .857rem;
    line-height: 21px;
}
.rating-star{
    margin-right: 4px;
    color: #fac74b;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 2px;
}
.product-img img{
    flex: 0 0 auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: scale-down;
    position: relative;
    overflow: hidden;

    position: relative;
    overflow: hidden;
    overflow: visible;
    min-height: 200px;
    min-width: 200px;
}
.product-img{
    height: 220px;
    margin: 25px 0 65px;
    display: flex;
}
.swiper-container{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.product-jumps{
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
}
.product-jumps-item{
    font-weight: 400;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.product-jumps-text{
    color: #00c6db;
    margin-right: 4px;
}
.product-jumps-item:not(:last-child){
    border-left: 1px solid #e5e5ea;
    padding-left: 10px;
    margin-left: 10px;
}
.product-tab-name{
    color: #2a2a2a;
    letter-spacing: .4px;
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 1.375;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.product-color-row{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
    border-radius: 9px;
    padding: 14px 15px 16px;
    display: flex;
    justify-content: space-between;
    border: none;
}
.circle-color{
    border: 1px solid #000;
    border-radius: 100%;
    display: inline-block;
    margin: 0 8px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.product-tab-value{
    color: #ababab;
    letter-spacing: .3px;
    position: relative;
    align-items: center;
}
.section-margin{
    margin: 15px 0;
}
.digiplus-box{
    border-radius: 9px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
    padding: 0 15px;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    font-size: 1rem;

    padding: 16px;
    background: #fff url(../images/9.svg) -30px -30px no-repeat;
}
.digiplus-row{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.digiplus-logo{
    max-width: 107px;
}
.digiplus-box-title{
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.92;
    color: #424750;
    font-weight: 500;
}
.digiplus-box-description{
    font-size: 12px;
    font-size: .857rem;
    line-height: 2;
    color: #81858b;
    display: flex;
    align-items: center;
}
.digiplus-box-description i{
    margin-left: .7rem;
}
.digiplus-box-link{
    font-size: 11px;
    font-size: .786rem;
    line-height: 1.64;
    color: #0fabc6;
    display: flex;
    align-items: center;
    margin-right: 12px;
}
.digiplus-footer{
justify-content: space-between;
}
.warning-text-container{
    padding: 1rem;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    font-size: 1rem;


    display: flex;
    align-items: center;
    color: #686868;
    margin-top: 16px;
}
.warning-icon{
    padding-left: 1rem;
    height: 24px;
    font-size: 1.4rem;
}
.feedback-link{
    margin-right: .2rem;
    font-size: .9rem;
    color: #5f5f5f;
    border-bottom: 1px dashed;
}
.product-data-container{
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
    padding: 0 15px;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    font-size: 1rem;
}
.product-data-row{
    margin-top: 0;
    display: flex;
    align-items: center;
    color: #000;
}
.product-data-row{
    padding: 15px 0;
}
/* .product-data-row:not(:first-of-type) {
    padding: 15px 0;
} */
.product-seller-wrapper{
    font-size: 1.1rem;
}
.product-seller-name{
    font-weight: 700;
}
.product-seller-info{
    flex: 1;
}
.product-seller-rate-wrapper{
    color: #00bfd6;
}
.u-divider:before {
    content: "|";
    color: #e4e4e4;
    margin: 0 .3rem;
}
.digi-red-icon{
    font-size: 1.3rem!important;
    color: #fb3449!important;
    margin-left: .5rem;
}
.icon-extra{
    font-size: 1.1rem;
    font-weight: 700;
    color: #9b9b9b;
    vertical-align: middle;

}
.product-data-row:not(:last-of-type) {
    border-top: 1px solid #e5e5ea;
}
.icon-check-circle{
    color: #aaa;
    font-size: 1.3rem;
    margin-left: .5rem;
}
.icon-check-square-blue{
    color: #0fabc6;
    background: none;
}
.icon-extra-2{
    position: absolute;
    left: 0;
    font-size: 18px;
    font-weight: 700;
    color: #9b9b9b;
}
.product-ship{
    flex: 1;
    position: relative;
    /* padding-left: 24px;
    padding-right: 28px; */
    cursor: pointer;
    width: 100%;
    font-size: 13px;
    font-size: .929rem;
    line-height: 24px;
}
.product-ship-sender{
    width: 100%;
    margin: 8px 2px 0 0;
}
.product-column-row{

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.icon-red-truck{
    color: #e6123d;
    font-size: .9rem;
    margin-left: 4px;
    line-height: 25px!important;
}
.product-ship-sender li:before{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #0fabc6;
    border-radius: 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 6px;
}
.product-ship-sender li::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background-color: #e0e0e2;
    bottom: 15px;
    right: 8px;
}
.product-sender-name{
    display: flex;
    color: #81858b;
    font-size: 12px;
    font-size: .857rem;
    line-height: 24px;
}
.product-price-wrapper{
    flex-direction: column;
    align-items: flex-end;
    color: #fb3449;
}
.product-previous-price{
    font-size: 1.2rem;
    color: #b4b4b4;
    text-decoration: line-through;
    padding: .2rem;
}
.product-discount-percent{
    margin-right: .8rem;
    /* min-width: 3rem;
    height: 2rem; */
    padding: .5rem .7rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
    background-color: #fb3449;
    color: #fff;
    border-radius: 15px;
}
.product-price-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.price-value{
    font-size: 1.4rem;
}
.product-price-new{
    margin-top: -.5rem;
    flex-grow: 1;
    text-align: left;
}
.product-price-bottom{
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
}
.product-price-notification{
    display: flex;
    align-items: center;
    color: #2e7b32;
    align-self: flex-end;
    font-size: 11px;
    padding: 0 20px 0 0;
}
.icon-check-notification{
    font-size: 1rem;
    line-height: 16px;
    margin-left: .5rem;
}
.card-view-counts{
    color: #a1a3a8;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-size: .857rem;
    line-height: 20px;
}
.icon-eye{
    margin-left: 8px;
    font-size: 1rem;
    line-height: 20px;
}

.product-digiclub{
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
}
.product-digiclub img {
    height: 20px;
    margin-left: 4px;
}
.my-text-bold{
    font-weight: 700;
}
.product-other-sellers-wrapper{
    flex: 1;
}
.product-white-box{
    margin: 8px 0;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
}
.product-pricing{
    font-size: 11px;
    font-size: .786rem;
    line-height: 2;
}
.product-sellers-extra{
    font-size: 1.3rem;
    font-weight: 700;
    color: #9b9b9b;
    vertical-align: middle;
}
.product-lower-price{
    font-size: .9rem;
    margin-bottom: -1.5rem;
}
.icon-angle-left3{
    font-size: 1.3rem;
    line-height: 24px;
    color: #a1a3a8;
    height: 24px;
}
.product-lower-price{
    font-size: .9rem;
    margin-bottom: -1.5rem;
}
.product-lower-price-answer{
    margin: 0 1.5rem;
    border-bottom: 1px dashed;
}
.free-shipping-badge{
    display: flex;
    min-height: 78px;
    overflow: hidden;
    padding: 12px 16px;
    position: relative;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5rem;
}
.free-shipping-badge-title{
    width: 100%;
    color: #424750;
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 13px;
    font-size: .929rem;
    line-height: 28px;
    z-index: 999;
}
.free-shipping-badge-text{
    width: 100%;
    color: #81858b;
    font-weight: 400;
    margin-right: 40px;
    font-size: 12px;
    font-size: .857rem;
    line-height: 26px;
    z-index: 999;
}
.free-shipping-badge img{
    left: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    max-width: 150px;
}
.product-feature-four{
    font-size: 10px;
    font-size: .714rem;
    line-height: 1.8;
    color: #777;
    letter-spacing: -.3px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    position: relative;
    overflow: hidden;

    border-top: 1px solid #e5e5ea;
    padding-top: 15px;
    margin-top: 20px;
    height: unset!important;
    border-bottom: 1px solid #e5e5ea;
    padding-bottom: 16px;
}
.product-feature-four .feature-item{
    padding: 45px 5px 0;
    flex: 0 0 25%;
    max-width: 25%;
    background: no-repeat;
    background-size: auto 40px;
    background-position: 50% 0;
    text-align: center;
    max-width: 60px;
}
.product-feature-four .feature-item-1{
    background-image: url(../../style/images/11.svg);
}
.product-feature-four .feature-item-2{
    background-image: url(../../style/images/12.svg);
}
.product-feature-four .feature-item-3{
    background-image: url(../../style/images/13.svg);
}
.product-feature-four .feature-item-4{
    background-image: url(../../style/images/14.svg);
}
.section-title{
    margin-bottom: 15px;
    color: #858585;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
}
.product-row{
    padding-right: 8px;
    margin-right: -8px;
    margin-left: 8px;
    width: calc(100% + 16px);

    display: flex;
    overflow-x: auto;
    padding: 10px 5px 10px 0;
    width: 100%;
    overflow-y: hidden;
}
.product-box{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
    padding: 8px 0;
    position: relative;
    min-height: 210px;
    width: 49.5vw;
    flex: 0 0 49.5vw;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
}
.product-box-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    align-items: center;
    position: relative;
}
.product-box-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 124px;
    margin-bottom: 10px;
    padding: 10px 15px;
    z-index: 0;
    position: relative;
}
.product-box-image img:first-of-type{
    flex: 0 0 auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: scale-down;
    position: relative;
    overflow: hidden;
    overflow: visible;
    min-height: 124px;
    min-width: 100%;
}
.product-box-title{
    font-size: 14px;
    font-size: .9rem;
    line-height: 1.6;
    text-align: right;
    color: #2a2a2a;
    overflow: hidden;
    margin-bottom: 5px;
    display: block;
    padding: 0 15px;
}
.product-price-currency{
    font-size: 10px;
    font-size: .714rem;
    line-height: 2.2;
    font-weight: 400;
}
.product-box-price-wrapper{
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.my-price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 52px;
    padding: 4px;
    justify-content: flex-end;
    width: 100%;
}
.product-price-value{
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 1.375;
    color: #000;
    font-weight: 700;
}
.product-box+.product-box{
    margin-right: 10px;
}
.product-text{
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
    padding: 15px;
}
.product-text-header{
    display: flex;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    letter-spacing: -.5px;
    justify-content: space-between;
    border-top: 1px solid #e5e5ea;
    padding: 15px 0 0;
    margin-top: 15px;
}
.product-text-header:first-child{
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.product-text-content{
    color: #858585;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    margin-top: 15px;
}
.product-text-more{
    color: #00bfd5;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    padding-left: 18px;
    position: relative;
}
.product-text-content ul{
    list-style: none;
    padding: 0;
    color: #858585;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
}
.product-text-content ul li{
    margin: 5px 0;
    padding-right: 21px;
    position: relative;
}
.product-text-content ul li::before{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #d8d8d8;
    top: 6px;
    right: 5px;
    border-radius: 50%;
    position: absolute;
}
